
/** HEADER **/
.navbar {
  background-color: #94b8b8;
}
#restaurant-title {
  color: black;
  font-size: 2em;
}
.nav.navbar-nav.navbar-right li a {
  text-align: center;
  color: black;
}
#nav-list {
  background-color: white;
  margin-top: 0px;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 20px;
  padding-bottom: 20px;
}
/** MAIN CONTENT **/
.menu-box {
  border: 1px solid black;
  background-color: #94b8b8;
  margin: 0 auto 30px;
  padding: 10px;
}
.menu-box a {
  margin-left:5px;
}

