
/** HEADER **/
.navbar {
  background-color: #94b8b8;
}
.navbar-default .navbar-brand {
  color: black;
}
.nav.navbar-nav.navbar-right li a {
    text-align: center;
    color: black;
    padding: 0px;
}
/** MAIN CONTENT **/
.menu-box {
  border: 1px solid black;
  background-color: #94b8b8;
  margin: 0 auto 30px;
  padding: 10px;
}
.menu-box a {
  margin-left:5px;
}

